[Desktop Entry]
Encoding=UTF-8
Name=MycroftPlasmoidMobile
Name[az]=MycroftPlasmoidMobile
Name[ca]=MycroftPlasmoidMobile
Name[ca@valencia]=MycroftPlasmoidMobile
Name[cs]=MycroftPlasmoidMobile
Name[da]=MycroftPlasmoidMobile
Name[de]=MycroftPlasmoidMobile
Name[en_GB]=MycroftPlasmoidMobile
Name[es]=MycroftPlasmoidMobile
Name[et]=MycroftPlasmoidMobile
Name[eu]=MycroftPlasmoidMobile
Name[fi]=MycroftPlasmoidMobile
Name[fr]=MycroftPlasmoidMobile
Name[hi]=MycroftPlasmoidMobile
Name[hu]=MycroftPlasmoidMobile
Name[ia]=MycroftPlasmoidMobile
Name[it]=Plasmoide Mycroft Mobile
Name[ka]=MycroftPlasmoidMobile
Name[ko]=MycroftPlasmoidMobile
Name[nl]=MycroftPlasmoidMobile
Name[nn]=MycroftPlasmoidMobile
Name[pa]=MycroftPlasmoidMobile
Name[pl]=PlazmoidMycroftMobile
Name[pt]=MycroftPlasmoidMobile
Name[pt_BR]=MycroftPlasmoidMobile
Name[ro]=MycroftPlasmoidMobile
Name[sk]=MycroftPlasmoidMobile
Name[sl]=MycroftPlasmoidMobile
Name[sv]=Mycroft Plasmoid Mobil
Name[tr]=MycroftPlasmoidMobile
Name[uk]=Плазмоїд мобільного Mycroft
Name[x-test]=xxMycroftPlasmoidMobilexx
Name[zh_CN]=MycroftPlasmoidMobile
Comment=Mycroft applet for plasma mobile
Comment[az]=Plasma mobile üçün Mycroft qoşması
Comment[ca]=Miniaplicació Mycroft per al Plasma mòbil
Comment[ca@valencia]=Miniaplicació Mycroft per a Plasma mòbil
Comment[cs]=Applet Mycroft pro prostředí Plasma Mobile
Comment[da]=Mycroft-applet til Plasma Mobile
Comment[de]=Mycroft-Miniprogramm für die Plasma Mobile
Comment[en_GB]=Mycroft applet for plasma mobile
Comment[es]=Miniaplicación Mycroft para Plasma móvil
Comment[et]=Mycrofti aplett Plasma Mobile'ile
Comment[eu]=Mycroft aplikaziotxoa Plasma Mugikorrerako
Comment[fi]=Mycroft-sovelma Plasma Mobileen
Comment[fr]=Composant graphique « Mycroft » pour Plasma mobile
Comment[hi]=प्लास्मा मोबाइल के लिए Mycroft एप्पलेट
Comment[hu]=Mycroft kisalkalmazás a Plasma Mobile-hoz
Comment[ia]=Mycroft applet per plasma mobile
Comment[it]=Applet di Mycroft per Plasma mobile
Comment[ka]=Mycroft -ის აპლეტი მობილური plasma -სთვის
Comment[ko]=Plasma 모바일용 Mycroft 애플릿
Comment[nl]=Mycroft applet voor Plasma Mobile
Comment[nn]=Mycroft-element for Plasma Mobile
Comment[pa]=ਪਲਾਜ਼ਮਾ ਮੋਬਾਈਲ ਲਈ ਮਾਈਕਰੋਫਟ ਐਪਲਿਟ
Comment[pl]=Aplet Mycroft dla plazmy mobile
Comment[pt]='Applet' do Mycroft para o ambiente de trabalho Plasma Mobile
Comment[pt_BR]=Miniaplicativo do Mycroft para o Plasma móvel
Comment[ro]=Miniaplicație Mycroft pentru Plasma mobilă
Comment[sk]=Mycroft applet pre plasma mobile
Comment[sl]=Mycroft applet za plasma mobile
Comment[sv]=Mycroft miniprogram för Plasma-mobil
Comment[tr]=Plasma mobil için Mycroft uygulamacığı
Comment[uk]=Аплет Mycroft для мобільної Плазми
Comment[x-test]=xxMycroft applet for plasma mobilexx
Comment[zh_CN]=Plasma Mobile 版 Mycroft 小程序
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Aditya Mehra
X-KDE-PluginInfo-Email=aix.m@outlook.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.phone.mycroftplasmoidmobile
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Utilities
Icon=mycroft-plasma-appicon
