[Desktop Entry]
Encoding=UTF-8
Name=MycroftPlasmoidMobile
Name[ca]=MycroftPlasmoidMobile
Name[ca@valencia]=MycroftPlasmoidMobile
Name[cs]=MycroftPlasmoidMobile
Name[es]=MycroftPlasmoidMobile
Name[et]=MycroftPlasmoidMobile
Name[eu]=MycroftPlasmoidMobile
Name[fi]=MycroftPlasmoidMobile
Name[fr]=MycroftPlasmoidMobile
Name[ia]=MycroftPlasmoidMobile
Name[it]=Plasmoide Mycroft Mobile
Name[ko]=MycroftPlasmoidMobile
Name[nl]=MycroftPlasmoidMobile
Name[nn]=MycroftPlasmoidMobile
Name[pt]=MycroftPlasmoidMobile
Name[sl]=MycroftPlasmoidMobile
Name[sv]=Mycroft Plasmoid Mobil
Name[uk]=Плазмоїд мобільного Mycroft
Name[x-test]=xxMycroftPlasmoidMobilexx
Comment=Mycroft applet for plasma mobile
Comment[ca]=Miniaplicació Mycroft per al Plasma mòbil
Comment[ca@valencia]=Miniaplicació Mycroft per al Plasma mòbil
Comment[cs]=Applet Mycroft pro prostředí Plasma Mobile
Comment[es]=Miniaplicación Mycroft para Plasma móvil
Comment[et]=Mycrofti aplett Plasma Mobile'ile
Comment[eu]=Mycroft aplikaziotxoa Plasma Mugikorrerako
Comment[fi]=Mycroft-sovelma Plasma Mobileen
Comment[fr]=Composant graphique « Mycroft » pour Plasma mobile
Comment[ia]=Mycroft applet per plasma mobile
Comment[it]=Applet di Mycroft per Plasma mobile
Comment[ko]=Plasma 모바일용 Mycroft 애플릿
Comment[nl]=Mycroft applet voor Plasma mobiel
Comment[nn]=Mycroft-element for Plasma Mobile
Comment[pt]='Applet' do Mycroft para o ambiente de trabalho Plasma Mobile
Comment[sl]=Mycroft applet za plasma mobile
Comment[sv]=Mycroft miniprogram för Plasma-mobil
Comment[uk]=Аплет Mycroft для мобільної Плазми
Comment[x-test]=xxMycroft applet for plasma mobilexx
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Aditya Mehra
X-KDE-PluginInfo-Email=aix.m@outlook.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.phone.mycroftplasmoidmobile
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Utilities
Icon=mycroft-plasma-appicon
